body{
    background-color: rgb(54, 33, 74);
}

h1{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    font-size: 55px;
    color: aquamarine;
}

#winner{
    text-align: center;
    color: aquamarine;
    font-size: 32px;
}

h2{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    font-size: 55px;
    color: aquamarine;
}

.container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.container-2{
    margin: 0 2em;
}

h6{
    text-align: center;
    color: aquamarine;
    font-size: 26px;
    font-family: 'Dancing Script', cursive;
}
.button{

    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    
   
}

.button button{
    border-radius: 50px;
    padding: 16px;
    font-size: 15px;
    background-color: black;
    color: aquamarine;
    /* font-family: 'Dancing Script', cursive; */
}

.button button:hover{
    cursor: pointer;
   
    
}



footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    color: aquamarine;
    /* font-family: 'Dancing Script', cursive; */
    font-size: 20px;
}